$blue: #2196f3;
$gold: #796e3b;
$green: #4caf50;
$grey1: #212121;
$grey2: #303030;
$grey3: #424242;
$grey4: #545454;
$orange: #ff9800;
$purple: #9c27b0;
$red: #f44336;
$white: #fff;
$yellow: #ffeb3b;
$black: #000;
