.modal-background {
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  position: absolute;
  width: 100%;
}

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.modal-contents {
  z-index: 10;
}
