.transcription {
  overflow: auto;
  height: 300px;
}

.message {
  font-family: Arial;
  font-size: 12px;
  color: #433f3a;
  padding: 3px 20px;
  line-height: 20px;
}

.timestamp {
  color: grey;
  padding-right: 10px;
}